/**
 * global
 */
/**
 * list page
 */
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
.box {
  position: relative;
}
.main {
  background: #fefdfc;
}
/**
  timeline
*/
.time-line {
  color: #666;
  font-size: 14px;
}
.time-line .time-line-list {
  display: flex;
  flex-direction: column;
  position: relative;
}
.time-line .time-line-list:before {
  position: absolute;
  left: 12px;
  content: '';
  width: 1px;
  background: #ccc;
}
.time-line .time-line-list:not(:last-child):before {
  top: 15px;
  height: 100%;
}
.time-line .time-line-list .time-line-switcher {
  display: flex;
  text-align: center;
  padding: 3px 0;
}
.time-line .time-line-list .time-line-switcher .time-line-icon {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.time-line .time-line-list .time-line-switcher .time-line-icon .time-clock,
.time-line .time-line-list .time-line-switcher .time-line-icon .time-point {
  background: #fefdfc;
}
.time-line .time-line-list .time-line-switcher .time-line-list-title {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.time-line .time-line-list .time-line-content {
  padding-left: 20px;
}
.time-point {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid #368ed2;
}
.time-clock {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #d85867;
}
.time-clock:before {
  position: absolute;
  content: '';
  top: 2px;
  right: 2px;
  width: 4px;
  height: 4px;
  border-left: 1px solid #d85867;
  border-bottom: 1px solid #d85867;
}
