{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": ["ie >=9"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["@babel/transform-flow-strip-types", "@babel/proposal-class-properties"]
}