<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../style/btn.css">
  <link rel="stylesheet" href="../../style/container.css">
  <link rel="stylesheet" href="../../style/flex.css">
  <link rel="stylesheet" href="../../style/form.css">
  <link rel="stylesheet" href="../../style/list.css">
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="../../style/ratio.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../../node_modules/font-awesome/css/font-awesome.css">

</head>
<body>
<div class="layout layout-content-scroll hidden-aside">
  <div class="layout-subject">
    <header class="layout-header">
      <div class="logo-content">
        <img class="logo" src="img/logo.png" alt="">
      </div>
      <ul class="menu-content">
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item active"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
        <li class="menu-item"><div class="menu-icon"></div><a href="">护士排班</a></li>
      </ul>
      <div class="user-content"></div>
    </header>
    <article class="layout-content">
      <div class="breadcrumb">
        请选择菜单
      </div>
      <div class="scheduling">
        <div class="flex-12 scheduling-content">
          <div class="scheduling-item">
            <a class="scheduling-icon" href="#">
              <figure class="scheduling-img">
                <img src="./img/11.jpg" alt="">
              </figure>
            </a>
            <h1 class="scheduling-text">班次设定</h1>
          </div>
          <div class="scheduling-item">
            <a class="scheduling-icon" href="#">
              <figure class="scheduling-img">
                <img src="./img/22.jpg" alt="">
              </figure>
            </a>
            <span class="scheduling-text">排班字典</span>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/33.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">排班记录</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/44.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">护士请假管理</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/11.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">护士请假审核</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/11.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">班次设定</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/22.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">排班字典</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/33.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">排班记录</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/44.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">护士请假管理</div>
          </div>
          <div class="scheduling-item">
            <div class="scheduling-icon">
              <div class="scheduling-img">
                <img src="./img/11.jpg" alt="">
              </div>
            </div>
            <div class="scheduling-text">护士请假审核</div>
          </div>
        </div>
      </div>
    </article>
    <footer class="layout-footer"></footer>
  </div>
  <div class="layout-aside">
    <div class="height-400">1</div>
    <div class="height-400">1</div>
    <div class="height-400">1</div>
  </div>
</div>
</body>
</html>


