.layout-header {
  display: flex;
}
.logo-content {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.menu-content {
  display: flex;
  flex: 1;
}
.menu-content .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  transition: ease .4s;
}
.menu-content .menu-item + .menu-item {
  margin-left: 2px;
}
.menu-content .menu-item.active,
.menu-content .menu-item:hover {
  color: #ffffff;
  background: linear-gradient(to top, #3283c2, #368ed2);
}
.menu-content .menu-item .menu-icon {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
}
.menu-content .menu-item > a {
  padding-top: 5px;
  font-size: inherit;
  color: inherit;
}
.user-content {
  width: 240px;
}
.breadcrumb {
  color: #666;
  height: 40px;
  background: rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  line-height: 40px;
}
.scheduling {
  padding-top: 60px;
}
.scheduling .scheduling-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
}
.scheduling .scheduling-icon {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  background: #fff;
  margin: 20px 20px 0 20px;
  padding: 8px;
  border-radius: 8px;
  filter: opacity(20);
  opacity: .9;
  transition: ease .4s;
}
.scheduling .scheduling-icon:hover {
  opacity: 1;
  box-shadow: 0 0 10px #ddd;
  transition: ease .4s;
}
.scheduling .scheduling-icon:active {
  box-shadow: 0 0 15px #428bca;
}
.scheduling .scheduling-icon .scheduling-img {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}
.scheduling .scheduling-icon .scheduling-img img {
  height: 100%;
}
.scheduling .scheduling-text {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #aaa;
  text-align: center;
  margin: 10px 20px 20px 20px;
}
