li.confirmed::after {
  background: url(http://cdn.dustball.com/accept.png);
  width: 16px;
  height: 16px;
  display: inline-block;
}

#results a { display: none; }
form.isDJ #results a { display: inline; }
