<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="../../../node_modules/font-awesome/css/font-awesome.css">

</head>
<body>
<div class="layout layout-fixed-header">
  <header class="layout-header flex"></header>
  <article class="layout-content">
    <div class="height-400 text-center">1</div>
    <div class="height-400 text-center">2</div>
    <div class="height-400 text-center">3</div>
  </article>
  <footer class="layout-footer"></footer>
</div>
</body>
</html>


