/**
 * global
 */
/**
 * list page
 */
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  to {
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes antSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSwingIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
.div-line,
.dropdown-menu > li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.input-group {
  width: 100%;
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .input-group-menu,
.input-group .input-group-addon {
  position: relative;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group .form-control:first-child {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .input-group-menu,
.input-group .input-group-btn,
.input-group .input-group-addon,
.input-group .form-control {
  display: table-cell;
}
.input-group .input-group-menu {
  cursor: pointer;
}
.input-group .input-group-menu:hover {
  background: #eaeaea;
}
.input-group .input-group-menu + .form-control,
.input-group .input-group-btn + .form-control,
.input-group .input-group-addon + .form-control {
  border-left: 0;
}
.input-group .open .fa-angle-down {
  transform: rotate(180deg);
  transition: ease .4s;
}
.input-group .open .dropdown-menu {
  display: block;
  animation: antSlideUpIn .4s;
}
.input-group .open .dropdown-menu-right {
  right: 0;
  left: auto;
  animation: antSlideUpIn .4s;
}
.input-group .open .dropdown-menu-down {
  top: auto;
  bottom: 100%;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  animation: antSlideDownIn .4s;
}
.input-group .open .dropdown-menu-down-right {
  top: auto;
  left: auto;
  right: 0;
  bottom: 100%;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  animation: antSlideDownIn .4s;
}
.input-group-menu,
.input-group-btn,
.input-group-addon {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-menu:first-child,
.input-group-btn:first-child,
.input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-menu:last-child,
.input-group-btn:last-child,
.input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-menu:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-menu + .input-group-menu,
.input-group-menu + .input-group-btn,
.input-group-menu + .input-group-addon,
.input-group-btn + .input-group-menu,
.input-group-btn + .input-group-btn,
.input-group-btn + .input-group-addon,
.input-group-addon + .input-group-menu,
.input-group-addon + .input-group-btn,
.input-group-addon + .input-group-addon {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  top: 100%;
  left: 0;
  display: none;
}
.dropdown-menu > li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
}
