/**
 * global
 */
/**
 * list page
 */
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  to {
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes antSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSwingIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
/**
  select
*/
.select {
  position: relative;
}
.select-selection {
  font-size: 14px;
  height: 2em;
  line-height: 2em;
  padding: 0 .6em;
  border: 1px solid #d9d9d9;
  border-radius: .4em;
  width: 100%;
  transition: ease 1s;
  padding-right: 2em;
  cursor: pointer;
}
.select-selection:focus {
  background: #fafafa;
  border: 1px solid #2777d1;
  box-shadow: 0 0 3px #4794ec;
  transition: ease .4s;
}
.select-selection-placeholder {
  color: #ccc;
}
.select-selection-placeholder::-webkit-input-placeholder {
  color: #ccc;
}
.select-selection-placeholder:-moz-placeholder {
  color: #ccc;
}
.select-selection-placeholder::-moz-placeholder {
  color: #ccc;
}
.select-selection-placeholder:-ms-input-placeholder {
  color: #ccc;
}
.select-selection-open .dropdown-menu {
  display: block;
}
.select-selection-focused .select-selection {
  background: #fafafa;
  border: 1px solid #2777d1;
  box-shadow: 0 0 3px #4794ec;
  transition: ease .4s;
}
.select-selection-disabled .select-selection {
  cursor: not-allowed;
  background: #fafafa;
}
.select-selection-disabled .select-selection:hover {
  border: 1px solid #d9d9d9;
}
.select-selection[role="combobox"],
.select-selection[role="multiple"],
.select-selection[role="tags"] {
  cursor: text;
}
.select-selection-multiple {
  height: auto;
  min-height: 2em;
}
.select-selection-multiple:after {
  content: '';
  display: block;
  clear: both;
}
.select-selection-choice {
  margin-top: 3px;
  height: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f3f3f3;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 4px;
  max-width: 99%;
  position: relative;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0 20px 0 10px;
}
.select:not(.select-selection-disabled):hover-selection {
  border: 1px solid #368ed2;
}
.select:not(.select-selection-disabled):active-selection {
  background: #fafafa;
  border: 1px solid #2777d1;
  box-shadow: 0 0 3px #4794ec;
  transition: ease .4s;
}
.select .select-icon-box {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
}
.select .dropdown-menu {
  right: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.select .dropdown-menu li {
  position: relative;
  display: block;
}
.select .dropdown-menu li:before {
  position: absolute;
  top: 0;
  padding: 3px 10px;
  right: 10px;
  z-index: 99;
}
.select .dropdown-menu li[aria-selected=false]:before {
  color: #eaeaea;
}
.select .dropdown-menu li[aria-selected=true] {
  background: #f2f2f2;
}
.select .dropdown-menu li[aria-selected=true]:before {
  color: #368ed2;
}
