/**
 * global
 */
/**
 * list page
 */
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  to {
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes antSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSwingIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
.ratio-12 {
  width: 100%;
}
.ratio-11 {
  width: 91.66%;
}
.ratio-10 {
  width: 83.33%;
}
.ratio-9 {
  width: 75%;
}
.ratio-8 {
  width: 66.66%;
}
.ratio-7 {
  width: 58.33%;
}
.ratio-6 {
  width: 50%;
}
.ratio-5 {
  width: 41.66%;
}
.ratio-4 {
  width: 33.33%;
}
.ratio-3 {
  width: 25%;
}
.ratio-2 {
  width: 16.66%;
}
.ratio-1 {
  width: 8.33%;
}
@media (min-width: 980px) {
  .ratio-sm-12 {
    width: 100%;
  }
  .ratio-sm-11 {
    width: 91.66%;
  }
  .ratio-sm-10 {
    width: 83.33%;
  }
  .ratio-sm-9 {
    width: 75%;
  }
  .ratio-sm-8 {
    width: 66.66%;
  }
  .ratio-sm-7 {
    width: 58.33%;
  }
  .ratio-sm-6 {
    width: 50%;
  }
  .ratio-sm-5 {
    width: 41.66%;
  }
  .ratio-sm-4 {
    width: 33.33%;
  }
  .ratio-sm-3 {
    width: 25%;
  }
  .ratio-sm-2 {
    width: 16.66%;
  }
  .ratio-sm-1 {
    width: 8.33%;
  }
}
@media (min-width: 1200px) {
  .ratio-md-12 {
    width: 100%;
  }
  .ratio-md-11 {
    width: 91.66%;
  }
  .ratio-md-10 {
    width: 83.33%;
  }
  .ratio-md-9 {
    width: 75%;
  }
  .ratio-md-8 {
    width: 66.66%;
  }
  .ratio-md-7 {
    width: 58.33%;
  }
  .ratio-md-6 {
    width: 50%;
  }
  .ratio-md-5 {
    width: 41.66%;
  }
  .ratio-md-4 {
    width: 33.33%;
  }
  .ratio-md-3 {
    width: 25%;
  }
  .ratio-md-2 {
    width: 16.66%;
  }
  .ratio-md-1 {
    width: 8.33%;
  }
}
@media (min-width: 1680px) {
  .ratio-lg-12 {
    width: 100%;
  }
  .ratio-lg-11 {
    width: 91.66%;
  }
  .ratio-lg-10 {
    width: 83.33%;
  }
  .ratio-lg-9 {
    width: 75%;
  }
  .ratio-lg-8 {
    width: 66.66%;
  }
  .ratio-lg-7 {
    width: 58.33%;
  }
  .ratio-lg-6 {
    width: 50%;
  }
  .ratio-lg-5 {
    width: 41.66%;
  }
  .ratio-lg-4 {
    width: 33.33%;
  }
  .ratio-lg-3 {
    width: 25%;
  }
  .ratio-lg-2 {
    width: 16.66%;
  }
  .ratio-lg-1 {
    width: 8.33%;
  }
}
