.list {
  &-control {
    display: flex;
  }
  &-inner {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px 20px 10px 70px;
    border-radius: 4px;
    dt, dd {
      display: flex;
      height: 30px;
      align-items: center;
      border-bottom: 1px solid #fff;
    }
    dt {
      font-weight: bold;
      text-align: right;
    }
  }
  &-title {
    align-items: center;
  }
  &-text {
    align-items: center;
  }
}