extends ../layout.pug
block content
    div(id="root")!=JSON.parse(domRender)
    // script document.querySelector('#list').innerHTML = !{domRender}; //console.log(!{domRender})
    script(src= script2)
    script(src= script)


