// 配置文件
@import "./animation.less";
@import "./color.less";
@import "./func.less";



.alert-danger {
  padding: .8em;
  color: @Red;
  background: saturate(lighten(@Red, 35%), 40%);
  border: 1px solid saturate(lighten(@Red, 30%), 40%);
  border-radius: 4px;
}