.btn,
.btn-default {
  font-size: 12px;
  display: inline-block;
  height: 2em;
  padding: 0 1em;
  color: #fff;
  line-height: 1.8em;
  border: 1px solid transparent;
  border-radius: .3em;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  touch-action: manipulation;
  transition: .5s ease;
}
.btn.btn-default {
  color: #999;
  border: 1px solid #ccc;
}
.btn.btn-gray {
  color: #777;
}
.btn.btn-line {
  color: #1468c6;
  border: 1px solid #1468c6;
}
.btn.btn-sure {
  color: #fff;
}
.btn:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.btn.btn-xs {
  font-size: 12px;
}
.btn.btn-sm {
  font-size: 14px;
}
.btn.btn-md {
  font-size: 16px;
}
.btn.btn-lg {
  font-size: 18px;
}
.btn-default {
  border: 1px solid #ccc;
}
.btn-success {
  color: #333;
}
.btn-info {
  color: #333;
}
.btn-primary {
  color: #333;
}
.btn-defalut {
  color: #333;
}
