/**
 * global
 */
/**
 * list page
 */
.form-container {
  background: #fff;
  margin-top: 10px;
}
.form-list {
  padding: 0 15px;
  height: 40px;
  margin-bottom: 10px;
}
.form-ctrl {
  font-size: 14px;
  height: 2em;
  line-height: 2em;
  padding: 0 .6em;
  transition: ease 1s;
  border: 1px solid #ccc;
  border-radius: .4em;
  width: 100%;
}
.form-ctrl:focus {
  background: #fafafa;
  border: 1px solid #2777d1;
  box-shadow: 0 0 3px #4794ec;
  transition: ease .4s;
}
textarea.form-ctrl {
  height: inherit;
}
