/**
 * global
 */
/**
 * list page
 */
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  to {
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes antSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSwingIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
.icon-return {
  position: relative;
  font-size: 6px;
  display: block;
  width: 1.8em ;
  height: 1.8em ;
  padding: 0 ;
  cursor: pointer;
  transition: .5s ease;
  overflow: visible;
}
.icon-return:before,
.icon-return:after {
  position: absolute;
  content: '一';
  display: table;
  left: .5em;
}
.icon-return:before {
  transform: rotate(-45deg);
  top: -1.1em;
}
.icon-return:after {
  transform: rotate(45deg);
  top: -0.48em;
  left: .4em;
}
.icon-return.icon-to-sm {
  font-size: 6px;
}
.icon-two-dimension {
  position: relative;
  font-size: 12px;
  display: block;
  width: 2em;
  height: 2em;
  border: 1px solid #666;
  border-radius: 4px;
}
.icon-two-dimension:before {
  position: absolute;
  display: table;
  color: #666;
  content: '一';
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  z-index: 2;
}
.icon-two-dimension:after {
  position: absolute;
  top: 15%;
  left: -1px;
  content: '';
  display: table;
  width: calc(100% + 2px);
  height: 70%;
  line-height: 2em;
  text-align: center;
  background: #fff;
  z-index: 1;
}
.icon-close {
  font-size: 14px;
  display: block;
  position: relative;
  min-width: 1em;
  min-height: 1em;
  cursor: pointer;
}
.icon-close:before,
.icon-close:after {
  position: absolute;
  content: '一';
  left: .1em;
  display: table;
  width: inherit;
  height: inherit;
  color: inherit;
}
.icon-close:before {
  transform: rotate(45deg);
}
.icon-close:after {
  transform: rotate(-45deg);
}
.icon-file {
  position: relative;
  width: 10px;
  height: 14px;
  border: 1px solid #999;
  border-radius: 2px;
}
.icon-file:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 3px;
  height: 3px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
}
.icon-file:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -1px;
  right: -1px;
  width: 3px;
  height: 3px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
