/**
 * global
 */
/**
 * list page
 */
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
.icon-return {
  position: relative;
  font-size: 6px;
  display: block;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 !important;
  cursor: pointer;
  transition: .5s ease;
  overflow: visible !important;
}
.icon-return:before,
.icon-return:after {
  position: absolute;
  content: '一';
  display: table;
  left: .5em;
}
.icon-return:before {
  transform: rotate(-45deg);
  top: -1.1em;
}
.icon-return:after {
  transform: rotate(45deg);
  top: -0.48em;
  left: .4em;
}
.icon-return.icon-to-sm {
  font-size: 6px;
}
.icon-two-dimension {
  position: relative;
  font-size: 12px;
  width: 2em;
  height: 2em;
  border: 1px solid #666;
  border-radius: 4px;
}
.icon-two-dimension:before {
  position: absolute;
  display: table;
  color: #666;
  content: '一';
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  z-index: 2;
}
.icon-two-dimension:after {
  position: absolute;
  top: 15%;
  left: -1px;
  content: '';
  display: table;
  width: calc(100% + 2px);
  height: 70%;
  line-height: 2em;
  text-align: center;
  background: #fff;
  z-index: 1;
}
