/**
 * global
 */
/**
 * list page
 */
@keyframes antSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}
@keyframes antSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideDownIn {
  0% {
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  to {
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes antSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes antSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
}
@keyframes antSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform-origin: 100% 0;
    transform: scaleX(0.8);
  }
}
@keyframes antSwingIn {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
* {
  box-sizing: border-box;
}
input,
button {
  outline: none;
}
a,
abbr {
  text-decoration: none;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
hr {
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
}
body,
blockquote,
fieldset,
legend,
form,
button,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
ul,
dd,
dl,
dt,
th,
td,
p,
pre,
textarea,
input,
menu,
figure,
figcaption,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', sans-serif;
}
