

// 全局
@import "./init.less";
@import "./container.less";

// 布局
@import "./flex.less";
@import "./grid.less";
@import "./ratio.less";


// 组建
@import "./alert.less";

@import "./btn.less";
@import "./checkbox.less";

@import "./form.less";

@import "./input.less";
@import "./icon.less";


@import "./layout.less";
@import "./list.less";

@import "./timeline.less";
@import "./table.less";
@import "./tab.less";
@import "./triangle.less";
@import "./tree.less";
@import "./tag.less";

@import "./select.less";
@import "./step.less";

@import "./menu.less";

@import "./nav.less";
@import "./navigator.less";





@import "./other.less";




.page-title {
  background: #fff;
  text-align: center;
}



/////////////////////////////////////////////  main title
.title-control {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  align-items: center;
  min-height: 41px;
  .title-name {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    height: 100%;
    max-width: 100%;
    line-height: 1;
  }
  .title-content {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}




