head
  mate(charset="utf-8")
  title #{title}
  link(href="/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
  script(src="/jquery/dist/jQuery.min.js")
  script(src="/bootstrap/dist/js/bootstrap.js")