/**
 * global
 */
/**
 * list page
 */
/**
 * 创建高度
 * .height-@{num} { height: @num }
 * -> .height-100 { height: 100px }
 */
/**
 * 创建宽度
 * .width-@{num} { width: @num }
 * -> .width-100 { width: 100px }
 */
/**
 * flex 布局
 * .flex-@{num} {flex: @num} -> .flex-1{ flex: 1 }
 */
/**
 * 透明度
 * 需要传入 透明度多少
 */
/**
 * 边框
 * 需要传入 方向，颜色，大小
 */
/**
 * 投影效果
 * 需要传入 影子颜色，大小
 */
/**
 * hover效果
 * 需要传入 没有hover的颜色值，与hover时的颜色值
 */
/**
 * 创建按钮
 * 需要传入一个二维数组
 */
div.row {
  background: #fff;
}
.notification {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  top: 100%;
  left: 0;
  position: relative;
  right: 20px;
  float: none;
}
.notification .notification-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  transition: ease .4s;
  color: #999;
}
.notification .notification-close:hover {
  color: #d85867;
}
.notification .notification-content {
  min-width: 300px;
  max-width: 400px;
}
.notification .notification-content .notification-body {
  display: flex;
  padding-top: 20px;
}
.notification .notification-content .notification-body .notification-left {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.notification .notification-content .notification-body .notification-right {
  color: #999;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.notification .notification-content .notification-body .notification-right .notification-header {
  color: #666;
  padding-bottom: 5px;
}
.notification .notification-content .notification-body .notification-right .notification-header h2 {
  font-size: 16px;
  font-weight: normal;
}
.notification .notification-content .notification-body .notification-left + .notification-right {
  padding-left: 0;
}
.notification .notification-content .notification-btn {
  padding: 0 20px 15px 20px;
  text-align: right;
}
.notification-list {
  margin: 20px 0;
}
.notification-topRight,
.notification-topLeft,
.notification-bottomLeft,
.notification-bottomRight {
  position: fixed;
  z-index: 101;
  width: 335px;
}
.notification-topRight {
  right: 24px;
}
.notification-topLeft {
  left: 24px;
}
.notification-bottomLeft {
  left: 24px;
}
.notification-bottomRight {
  right: 24px;
}
