/**
 * global
 */
/**
 * list page
 */
.page-title {
  background: #fff;
  text-align: center;
}
.page-title .ratio-3 {
  margin: 0 auto;
}
.nav-tabs {
  width: 100%;
}
.nav-tabs .nav-title,
.nav-tabs nav {
  display: flex;
  flex-direction: row;
}
.nav-tabs .nav-title .menu-list,
.nav-tabs nav .menu-list,
.nav-tabs .nav-title a[role=menuitem],
.nav-tabs nav a[role=menuitem] {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.nav-tabs .nav-title .menu-list:first-child,
.nav-tabs nav .menu-list:first-child,
.nav-tabs .nav-title a[role=menuitem]:first-child,
.nav-tabs nav a[role=menuitem]:first-child {
  border-top-left-radius: 4px;
}
.nav-tabs .nav-title .menu-list:last-child,
.nav-tabs nav .menu-list:last-child,
.nav-tabs .nav-title a[role=menuitem]:last-child,
.nav-tabs nav a[role=menuitem]:last-child {
  border-top-right-radius: 4px;
}
.nav-tabs .nav-title .menu-list.active,
.nav-tabs nav .menu-list.active,
.nav-tabs .nav-title a[role=menuitem].active,
.nav-tabs nav a[role=menuitem].active {
  color: #428bca;
  background: #eee;
}
.nav-tabs .nav-title .menu-list:hover,
.nav-tabs nav .menu-list:hover,
.nav-tabs .nav-title a[role=menuitem]:hover,
.nav-tabs nav a[role=menuitem]:hover {
  background: #eee;
}
.nav-pills .nav-title,
.nav-pills nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}
.nav-pills .nav-title .menu-list,
.nav-pills nav .menu-list,
.nav-pills .nav-title a[role=menuitem],
.nav-pills nav a[role=menuitem] {
  display: inline-block;
  padding: 4px 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: -1px;
  cursor: pointer;
}
.nav-pills .nav-title .menu-list:not(.active),
.nav-pills nav .menu-list:not(.active),
.nav-pills .nav-title a[role=menuitem]:not(.active),
.nav-pills nav a[role=menuitem]:not(.active) {
  border-bottom: 1px solid #ccc;
}
.nav-pills .nav-title .menu-list:first-child,
.nav-pills nav .menu-list:first-child,
.nav-pills .nav-title a[role=menuitem]:first-child,
.nav-pills nav a[role=menuitem]:first-child {
  border-top-left-radius: 4px;
}
.nav-pills .nav-title .menu-list:last-child,
.nav-pills nav .menu-list:last-child,
.nav-pills .nav-title a[role=menuitem]:last-child,
.nav-pills nav a[role=menuitem]:last-child {
  border-top-right-radius: 4px;
  border-right: 1px solid #ccc;
}
.nav-pills .nav-title .menu-list.active,
.nav-pills nav .menu-list.active,
.nav-pills .nav-title a[role=menuitem].active,
.nav-pills nav a[role=menuitem].active {
  color: #428bca;
  background: #eee;
}
.nav-pills .nav-title .menu-list:hover,
.nav-pills nav .menu-list:hover,
.nav-pills .nav-title a[role=menuitem]:hover,
.nav-pills nav a[role=menuitem]:hover {
  background: #eee;
}
.color1 {
  background: #6ab2f1;
}
.color2 {
  background: #51c5ea;
}
.color3 {
  background: #efa05e;
}
.color4 {
  background: #34d657;
}
