<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="../../../node_modules/font-awesome/css/font-awesome.css">

</head>
<body>
<div class="layout layout-static">
  <header class="layout-header"></header>
  <article class="layout-content">
    <div class="layout-aside">
      <div class="height-400">1</div>
      <div class="height-400">1</div>
      <div class="height-400">1</div>
    </div>
    <div class="layout-subject">
      <div class="height-400">2</div>
      <div class="height-400">2</div>
      <div class="height-400">2</div>
    </div>
  </article>
  <footer class="layout-footer"></footer>
</div>
</body>
</html>


